[Unit]
Description=setterm options

[Service]
Type=oneshot
ExecStart=/arch/etc/systemd/bin/setterm.sh
TimeoutSec=0
RemainAfterExit=YES

[Install]
WantedBy=multi-user.target

